img.vidthumb {
    width:200px;
}

.hidden { display:none }

.mypre {
    background: #eee;
    white-space: pre-wrap;
}
.playlist {
    margin-left:10px;
}
.playlistitem {
    display:inline-block;
    width: 300px;
    margin:5px;
    background:#ade;
}
.video {
    border: 1px;
    display: block;
}
.videodiv {
    display:inline-block;
    background:#add;
    margin:10px;
    padding:10px;
}


html, body {

}

body {
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
}

div.content {
    margin-top: 64px;
    margin-bottom: 56px;
}

.bottomAppBar {
    top: 'auto';
    bottom: 0;
}

paper {
    padding: 10px;
}

.introtext {
    padding: 10px;
    margin: 10px;
}

.stickToBottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}